
body {
  background: #FFFFC5;
  font-family: 'Times New Roman', Times, serif;
  margin: 40px;
}

h1 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.about {

}

.skills {

} 

.projects {

}

.contact {

}
